/* General Styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(202, 192, 252);
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: #f2f2f2;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #11013a;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    text-align: center;
    border-right: 5px solid #0089e5;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #0089e5;
    margin-bottom: 20px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 5px 6px 6px 5px;
    margin: 20px 0 10px;
    color: #11013a;
    border-radius: 10px;
    box-shadow: 0 0 15px #0089e5;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text{
    text-align: left;
    font-size: 16px;
    line-height: 130%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 60%;
}

button {
    font-family: "Monteserrat", sans-serif;
    padding: 8px 12px 12px 8px;
    border-radius: 10px;
    box-shadow: 5 5 4px #11013a;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #11013a;
    color: white;
}
