/* General Styling */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(202, 192, 252);
    margin: 0;
    padding: 50px;
}

.resume-container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Left Section Styling */
.left-section {
    background-color: #11013a;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-right: none;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #0089e5;
    margin-bottom: 20px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 5px 6px 6px 5px;
    margin: 20px 0 10px;
    color: #11013a;
    border-radius: 10px;
    box-shadow: 0 0 15px #0089e5;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text {
    text-align: left;
    font-size: 16px;
    line-height: 130%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 100%;
}

/* Button Styling */
button {
    font-family: "Monteserrat", sans-serif;
    padding: 8px 12px 12px 8px;
    border-radius: 10px;
    box-shadow: 5 5 4px #11013a;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #11013a;
    color: white;
}

/* Responsive Design for Tablets */
@media (min-width: 768px) {
    .resume-container {
        flex-direction: row;
    }

    .text {
        text-align: left;
        font-size: 15px;
        line-height: 130%;
    }

    .left-section {
        width: 40%;
        border-right: 5px solid #0089e5;
    }

    .right-section {
        width: 60%;
    }

    ul {
        list-style-type: fill round;
        padding: 10;
        text-align: left;
        font-size: 16px;
        line-height: 130%;
        margin: 10px 0;
    }
    
    ul li {
        margin: 5px 0;
        text-align: left;
        font-size: 16px;
        line-height: 130%;
    }
    
       
}


/* Responsive Design for Mobile Devices */
@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    ul {
        list-style-type: fill round;
        padding: 10;
        text-align: left;
        font-size: 16px;
        line-height: 130%;
        margin: 10px 0;
    }
    
    ul li {
        margin: 5px 0;
        text-align: left;
        font-size: 16px;
        line-height: 130%;
    }
    
    .left-section {
        width: auto;
        border-right: 5px solid #0089e5;
    }


    .right-section {
        width: auto;
    }
    
    .text {
        text-align: left;
        font-size: 13px;
        line-height: 130%;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        width: 200px;
        text-align: center;
        font-size: 18px;
        padding: 5px 6px 6px 5px;
        margin: 20px 0 10px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    button {
        font-size: 12px;
        padding: 6px 10px 10px 6px;
    }
}
